aiohttp
asyncio
git+https://github.com/dolfies/discord.py-self@2193ws21sf4cs74hdg317ac8ad076ed234d3dbf70g1#egg=selfcord.py[voice]
pynacl
requests
flask
discord
fake-useragent
curl_cffi
python-dotenv
httpx
tls-client
pydantic
pycryptodome
PyYAML
